@model CadastroContatos.ViewModels.RegistroViewModel

<section class="vh-80 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Crie uma conta</h2>

                            <form method="post" asp-controller="Home" asp-action="Registrar">

                                <div data-mdb-input-init class="form-outline mb-3">
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                                        asp-for="Nome" required />
                                    <label class="form-label" for="form3Example1cg">Seu Nome</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-3">
                                    <input type="email" id="form3Example3cg" class="form-control form-control-lg"
                                        asp-for="Email" required />
                                    <label class="form-label" for="form3Example3cg">Seu Email</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-3">
                                    <input type="password" id="form3Example4cg" class="form-control form-control-lg"
                                        asp-for="Senha" required />
                                    <label class="form-label" for="form3Example4cg">Senha</label>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-3">
                                    <input type="password" id="form3Example4cdg" class="form-control form-control-lg"
                                        asp-for="ConfirmacaoSenha" required />
                                    <label class="form-label" for="form3Example4cdg">Repita sua senha</label>
                                </div>

                                @if (ViewData.ModelState.ContainsKey(string.Empty) &&
                                    ViewData.ModelState[string.Empty].Errors.Any(e => e.ErrorMessage == "As senhas não conferem"))
                                {
                                    <div class="alert alert-danger" role="alert">
                                        As senhas não conferem.
                                    </div>
                                }

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value=""
                                        id="form2Example3cg" />
                                    <label class="form-check-label" for="form2Example3g">
                                        Eu concordo com todas as declarações nos <a href="#!"
                                            class="text-body"><u>Termos de
                                                serviço</u></a>
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                        class="btn btn-color btn-block btn-lg">Registrar</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Já tem uma conta?
                                    <a class="fw-bold text-body" asp-controller="Home" asp-action="Login"><u>Logue
                                            aqui!</u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>